.nav {
    margin: 2rem ;
    padding: 1rem;
    width: 33%;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    border-radius: 10px;
  }
  
  .nav label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .nav input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .nav input:focus {
    outline: none;
    border-color: #4f005f;
  }

  .button {
    font: inherit;
    border: 1px solid #0a0a0a;
    background: #146eaa;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #114588;
    border-color: #060207;
  }
  
  .button:focus {
    outline: none;
  }